{% extends "base.html" %}

{% block content %}
<div class="center-wrapper">
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <div class="password-toggle">
                    <label for="show-password" style="font-size: 14px;">Show Password</label>
                    <input type="checkbox" id="show-password">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="button">Login</button>
            </div>
        </form>
    </div>
</div>

{% block extra_js %}
<script>
    document.getElementById('show-password').addEventListener('change', function() {
        var passwordField = document.getElementById('password');
        if (this.checked) {
            passwordField.type = 'text';  // Show the password
        } else {
            passwordField.type = 'password';  // Hide the password
        }
    });
</script>
{% endblock %}

{% endblock %}
